<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<h1>
  
</h1>
  <h2>
    Welcome to {{ title }}!
  </h2>
  <img width="300" alt="StCloud Logo" src="https://specials-images.forbesimg.com/imageserve/55b94de9e4b05c2c343245db/300x300.jpg?fit=scale&background=000000y">
</div>
<h3>Here are some links to help you start: </h3>
<!--<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->

